.navbar {
	border-radius: 0px;
	border-bottom: 5px solid #B82605;
	background-image: url("img/banner.jpg");
	background-size: cover;
	background-position: center;
}

.navbar .container {
	padding-top: 30px;
}
.navbar-inverse .navbar-nav>li>a{
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14pt;
	text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.5);
	text-decoration: none;

}
.navbar-inverse .navbar-nav .active>a, .navbar-inverse .navbar-nav .active>a:hover{
	background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav .active>a:hover {
	color: #B82605;
}

.navbar .container .logo{
	background-image: url("img/logowit.svg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 300px;
	margin: -70px auto 10px auto;
}

.navbar .container .logo:hover{
	background-image: url("img/logorood.svg");
}