body{
	font-family: 'Roboto',sans-serif;
	font-size:16px;
	color:#222;
	font-weight:300;
	line-height: 1.625;
}
/* NAVBAR */
.navbar {
	border-radius: 0px;
	border-bottom: 5px solid #B82605;
	background-image: url("img/banner.jpg");
	background-size: cover;
	background-position: center;
}

.navbar .container {
	padding-top: 30px;
}
.navbar-inverse .navbar-nav>li>a{
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14pt;
	text-shadow: 1px 1px 1px rgba(30, 30, 30, 1);
}
.navbar-inverse .navbar-nav .active>a, .navbar-inverse .navbar-nav .active>a:hover{
	background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav .active>a:hover {
	color: #B82605;
}

.navbar .container .logo{
	background-image: url("img/logowit.svg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 300px;
	margin: -70px auto 10px auto;
}

/* ITEM */
.description{
	font-size:22px;
	color:#999;
}

.crop-img-300{
	overflow: hidden;
	height: 300px; 
	margin: 10px 0;
}

.item {
	padding:20px;
}

/* SIDEBAR */
.sidebar{
	margin-top: 35px;
}

.block{
	margin-bottom: 20px;
}

.block ul {
	margin-left: -40px;
}

.block li {
	list-style: none;
	margin:5px 0;
}

/* FOOTER */
.footer {
	padding:10px;
	margin-top: 50px;
	color: #DDDDDD;
	background-color: black;
	border-top: 5px solid #E7A223;
}