@import "variables.less";

.main {
	margin:0 40px;
}

.description{
	font-size:22px;
	color:#999;
}

.item {
	padding:20px;
}

.main-img{
    height: 250px;
    overflow: hidden;
}

.sidebar {
	font-size: 15px;
	margin-top: 120px;
	h4{
		color: white;
		background-color: #B82605;
		padding: 5px 10px;
		font-weight: 500;
	}
}

.block{
	margin-bottom: 20px;
	ul {
		list-style: none;
		padding:0;
	}
}
