@import "bootstrap";

@import "variables.less";
@import "header.less";
@import "footer.less";
@import "body.less";
@import "calendar.less";

html{
    min-height: 100%;
    position: relative;
}

body{
    margin-bottom: 100px;
}

h1,h2,h3,h4{
	color: @header-color;
}

h1{
	font-weight: 700;
}

a{
	color: #999;
	text-decoration: underline;
	&:visited{
		color: #337ab7;
	}
	&:hover{
		color: @red;
	}
}

.emp-red{
	color: @red;
	font-weight: 700;
}
